*{padding: 0;margin: 0;}
body{background: #222;color: aliceblue;}
.cruds{width: 80%;margin: auto;text-align: center;}
.head{margin: 10px;text-transform: uppercase;}
.input input{height: 20px;border-radius: 5px;width: 100%;background: #111;color: aliceblue;margin: 4px;padding: 4px;border:none;outline: none;}
.input input:focus{border: none;background: #000;}
.input input:hover{transform: scale(1.1);transition: 0.3s;}
.price input{width: 20%;}
#total{background: #f10;padding: 4px;border-radius: 5px;}
#total::before{content: 'Total: ';}
button{width: 100%;background: #390053;color: aliceblue;transition: 0.3s;cursor: pointer;border: none; height: 20px;}
button:hover{background: #51025f;letter-spacing: 1.5px;}
.btn{display:flex;justify-content: space-between;}
.btn button{width: 45%;}
.searchdiv input{width: 100%;border-radius: 5px;width: 100%;background: #111;color: aliceblue;margin: 4px;padding: 4px;border:none;outline: none}
table{width: 100%;margin: 30px;font-size: large;text-transform: uppercase;}

#deleteall{margin:20px;height;30px;}